@model E_Commerce_Client.Models.Employees

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h1>Edit Profile</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Username:</label>
                <input value="@Model.User.Username" asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Firstname:</label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last name:</label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Position: </label>
                <input asp-for="EmployeePosition" class="form-control" />
                <span asp-validation-for="EmployeePosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary w3-hover-brown" id="register" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EmployeeProfile">Back to Profile</a>
</div>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    h1 {
        background-image: linear-gradient(to right, #cc4400,#4d1a00);
        -webkit-background-clip: text;
        color: transparent;
        transition: all 1.5s;
        margin: 0 auto;
        font-size:80px;
    }

        h1:hover {
            text-decoration: none;
            transform: skewY(3deg) skewX(1deg);
            text-shadow: 20px 12px 20px #331100;
        }



    .btn {
        margin: 30px auto;
        text-decoration: none;
        display:inline-block;
        background-color: white;
        color: saddlebrown;
        border-color:saddlebrown;
    }

        .btn:hover {
            background-image: linear-gradient(to right, #cc4400,#993300);
        }

    label{
        font-size: 20px;
        font-family: 'Courier New';
        color: saddlebrown;
    }
</style>